@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --black: #000;
    --white: #fff;
    --light-grey: #A9A9A9;
    --dark-grey: #4D4C4C;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}


/* SCROLL_BAR */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: var(--dark-grey);
    border-radius: 60px;

}

::-webkit-scrollbar-thumb:hover {
    background: grey;
}

/* NAVBAR */
nav {
    width: 100%;
    background-color: rgb(22 22 23 / 70%);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-bottom: 1px solid #464646;
    position: fixed;
    top: 0;
    z-index: 5;
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    text-decoration: none;
    padding: 10px 20px;
    color: grey;
    font-weight: 500;
}

nav a:hover {
    color: white;
}

nav a:active {
    color: red;
}

nav img {
    width: 80px;
}

@media screen and (max-width: 450px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        margin: 12px 0 10px 0;
    }
}

/* PAGES */
.pages {
    padding: 10px;
    padding-top: 50px;
    display: flex;
}

.left-content,
.right-content {
    width: 50%;
    padding: 20px;
    display: grid;
    place-content: center;
}

.title {
    font-size: 5rem;
}

.sub-title {
    font-size: 2rem;
    padding-bottom: 25px;
    color: darkgrey;
}

.right-content p,
.left-content p {
    line-height: 1.5;
    font-weight: 400;
    font-size: 1.1rem;
    color: darkgrey;
}

.left-content p span,
.right-content p span {
    padding-bottom: 2px;
    border-bottom: 1px dotted grey;
    font-weight: 500;
    cursor: pointer;
}


/* HOME-PAGE */
.home-page .left-content {
    display: grid;
    place-items: center;
}

.home-page .left-content img {
    width: 90%;
    animation: boom 4s forwards;
    animation-delay: .8s;
}

@keyframes boom {

    50% {
        transform: scale(1);

    }

    90% {
        transform: scale(1.6);
    }

    100% {
        transform: scale(1);

    }
}

.home-page .right-content {

    padding: 0 30px;
}

/* ABOUT_PAGE */
.about-page .right-content {
    display: grid;
    place-items: center;
}

.about-page .right-content img {
    width: 120%;
}

.social-links {
    padding: 40px 10px;
    display: flex;
    justify-content: start;
    gap: 30px;
    font-size: larger;
}

.social-links i {
    color: var(--light-grey);

}


/* MOVIES LIST */
.movies-page {
    padding: 10px 20px;
    padding-top: 50px;

}

.movies-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.movies-list li img {
    border-radius: 10px;
    background-size: cover;
    transition: all .5s;
}


.movies-list li img:hover {
    transition: all .5s;
    transform: scale(1.2);
    border: 1px var(--dark-grey) solid;


}

footer {
    text-align: center;
    color: grey;
    padding: 50px 0;
}

/* Responsive */
@media screen and (max-width: 800px) {
    .pages {
        flex-direction: column;
        margin-top: 20px;
        padding: 0;
    }

    #iron-man {
        padding-top: 70px;
    }

    .about-page {
        flex-direction: column-reverse;
    }

    .left-content,
    .right-content {
        width: 100%;
        padding: 20px;
        display: grid;
        place-items: start;
    }

    .title {
        font-size: 10vw;
    }

    .sub-title {
        font-size: 5vw;
    }

    .about-page .right-content img {
        width: 85%;
    }

    .movies-list li img {
        width: 135px;
    }
}